@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #417991 #f3f3f3;
}

    /* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #f3f3f3;
}
*::-webkit-scrollbar-thumb {
    background-color: #417991;
    border-radius: 5px;
    border: 3px solid #f3f3f3;
}

body{
    font-family: 'Poppins', sans-serif;
    background: $bodyColor;
}

a{
    text-decoration: none;
}

.sidebar{
    position: fixed;
    width: 350px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 45px 30px;

    .sidebar-logo__ancor{
        display: flex;
        text-decoration: none;
        color: #4C6A9A;

        .sidebar-logo{
            display: flex;
            align-items: center;

            .sidebar-logo__circle{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #4C6A9A;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                color: #4C6A9A;
                font-weight: 600;
                font-size: 20px;
                margin-left: 18px;
            }
        }
    }

    .sidebar-nav{
        margin-top: 65px;
        
        ul{
            list-style: none;

            li{
                margin-top: 12px;
                height: 56px;
                padding: 0 20px;
                background-color: #fff;
                transition: 0.3s all ease;
                border-radius: 6px;
                
                display: flex;
                align-items: center;

                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $secondaryCardColor;

                    .sidebar-nav__img{
                        width: 21px;
                        height: 21px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    p{
                        font-size: 16px;
                        margin-left: 18px;
                    }
                }

                &:hover{
                    background-color: $hoverColor;

                    a{
                        color: $primaryColor;

                        .sidebar-nav__img{
                            svg{
                                path{
                                    fill: $primaryColor;
                                }
                            }
                        }
                    }
                }
            }

            .sidebar-nav_active{
                background-color: $hoverColor;

                a{
                    color: $primaryColor;

                    .sidebar-nav__img{
                        svg{
                            path{
                                fill: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
}


.work-area{
    position: fixed;
    width: calc(100% - 350px);
    height: 100%;
    padding: 40px 65px;
    left: 350px;
    top: 0;
}

.work-area__header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .work-area__header-title{
        h1{
            font-size: 28px;
            font-weight: 600;
            color: $fontColor;
        }

        p{
            margin-top: 3px;
            font-size: 16px;
            color: $secondaryColor;
        }
    }

    .work-area__header-search{
        width: 340px;
        position: relative;

        input{
            width: 100%;
            height: 45px;
            border-radius: 20px;
            background: #fff;
            padding: 0 20px;
            color: $fontColor;
            border: none;
        }

        img{
            position: absolute;
            top: 12px;
            right: 23px;
            cursor: pointer;
            width: 22px;
            height: 22px;
        }
    }

    .work-area__header-add-btn{
        width: 180px;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $primaryColor;

        img{
            width: 18px;
            height: 18px;
        }

        p{
            margin-left: 10px;
            font-size: 14px;
        }
    }

    .work-area__header-notify{
        width: 58px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
    }

    .work-area__header-user{
        width: 58px;
        height: 58px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.work-area__view{
    margin-top: 30px;
    display: flex;
    align-items: center;

    .work-area__view-btn{
        width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        cursor: pointer;
        border: 2px solid $secondaryColor;
        transition: 0.3s all ease;

        p{
            font-size: 14px;
            margin-left: 8px;
            color: $secondaryColor;
        }

        &:hover{
            border: 2px solid $primaryColor;

            svg{
                path{
                    fill: $primaryColor;
                }
            }

            p{
                color: $primaryColor;
            }
        }
    }

    .work-area__view-btn_active{
        border: 2px solid $primaryColor;

        svg{
            path{
                fill: $primaryColor;
            }
        }

        p{
            color: $primaryColor;
        }
    }

    .work-area__view-btn+.work-area__view-btn{
        margin-left: 15px;
    }
}

.work-area__columns{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    padding-bottom: 200px;
    padding-right: 25px;
}

.container{
    width: 250px;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container+.container{
    margin-left: 25px;
}

.container__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #B1B7C3;

    h2{
        color: $fontColor;
        font-weight: 600;
        font-size: 14px;
    }

    .container__header-counter{
        width: 35px;
        height: 25px;
        background: #fff;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        border: 1px solid #ddd;
    }

    .container__header-settings{
        cursor: pointer;
    }
}

.sortable{
    list-style: none;
    min-height: 300px;

    li{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;

        .card-header{
            h4{
                font-size: 16px;
                font-weight: 600;
            }

            a{
                text-decoration: none;
                color: $primaryCardColor
            }

            .card-subtitle{
                font-size: 14px;
                margin-top: 2px;
                color: $secondaryCardColor
            }

            .card-agent{
                font-size: 12px;
                color: $secondaryColor;
            }
        }

        .card-footer{
            margin-top: 20px;

            .card-footer-tag{
                background-color: #F0F9FD;
                display: flex;
                height: 28px;
                width: 120px;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                p{
                    font-size: 14px;
                    color: #6FBADD;
                }
            }

            .card-footer-tag_landscaped{
                background-color: #FFF5E9;

                p{
                    color: #FF9F2D;
                }
            }

            .card-footer-graveyard{
                display: flex;
                align-items: center;
                margin-top: 10px;

                p{
                    font-size: 14px;
                    margin-left: 5px;
                    color: $secondaryColor;
                }
            }

            .card-footer-demiter{
                width: 100%;
                height: 1px;
                background-color: #ccc;
                margin: 10px 0 15px;
            }

            .card-footer__bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .card-footer__bottom-unit{
                    display: flex;
                    align-items: center;

                    p{
                        margin-left: 7px;
                        font-size: 12px;
                        color: $secondaryCardColor;
                    }
                }
            }
        }
    }
}

.card-highlight{
    width: 100%;
    height: 240px;
    background-color: #ccc;
}

.add-new-order{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s all ease;

    p{
        color: $primaryColor;
        margin-left: 10px;
        font-size: 16px;
    }

    &:hover{
        background-color: #F0F9FD;
    }
}

.work-area-info{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.work-area-info-common{
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    padding: 50px 39px;
    overflow-y: auto;

    .work-area-info-common-title{
        display: flex;
        align-items: center;
    
        h2{
            font-size: 28px;
            color: $fontColor;
            font-weight: 600;
            margin-left: 15px;
        }
    
        a{
            display: flex;
            text-decoration: none;
        }
    }

    .work-area-info-common-stage{
        margin-top: 25px;
        position: relative;

        .work-area-info-common-stage_subtitle{
            font-size: 12px;
            font-weight: 300;
            color: $messageInfoSubtitle;
        }

        .work-area-info-common-stage-block{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            padding-bottom: 10px;
            border-bottom: 2px solid #CCCCCC;

            h4{
                font-size: 18px;
                font-weight: 600;
                color: $fontColor;
            }
        }

        .work-area-info-common-stage-list{
            position: absolute;
            top: 100%;
            left: 0;
            list-style: none;
            background-color: #fff;
            width: 100%;
            display: none;

            li{
                padding: 10px 10px;
                font-size: 14px;
                color: $fontColor;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                background: #fff;
                transition: 0.3s all ease;

                &:hover{
                    background: #F4F9FF;
                }
            }
        }
    }

    .work-area-info-common-text{
        margin-top: 20px;

        .work-area-info-common-text-line{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $fontColor;
            margin-top: 18px;

            .title{
                width: 160px;
                color: $secondaryCardColor;
                font-weight: 600;
            }

            .text{
                margin-left: 50px;
            }
        }
    }

    .work-area-info-sms-block{
        margin-top: 25px;

        .work-area-info-sms-btn{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3165A9;

            img{
                height: 55%;
            }
        }

        .work-area-info-sms-form{
            margin-top: 20px;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: none;

            h4{
                color: #333;
            }

            .work-area-info-sms-input{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;
                position: relative;

                label{
                    font-size: 12px;
                    font-weight: 600;
                    color: #0F2744;
                }

                input{
                    width: 100%;
                    height: 30px;
                    padding: 0 15px;
                    color: #333;
                    font-size: 14px;
                    border: 1px solid #C1C7CF;
                    border-radius: 4px;
                    margin-top: 4px;
                }

                textarea{
                    width: 100%;
                    height: 90px;
                    color: #333;
                    font-size: 14px;
                    border: 1px solid #C1C7CF;
                    border-radius: 4px;
                    margin-top: 4px;
                    padding: 15px;
                    font-family: 'Poppins', sans-serif;
                }
            }

            .work-area-info-sms-btn-send{
                cursor: pointer;
                background: #3165A9;
                width: 100%;
                height: 35px;
                border-radius: 5px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                p{
                    color: #fff;
                }
            }

            .sms-msg-info{
                margin-top: 10px;
                font-size: 14px;
                color: #333;
                text-align: center;
            }
        }
    }

    .work-area-info-common-btns{
        margin-top: 50px;
        display: flex;
        align-items: center;

        .work-area-info-common-btn{
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            border-radius: 10px;
            height: 45px;
        }

        .end-btn{
            background-color: #18BF15;
        }

        .cancel-btn{
            background-color: #DE2D21;
            margin-left: 30px;
        }
    }
}


.work-area-info-messages{
    width: 100%;
    height: calc(100vh - 200px);
    background: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 30px;

    .work-area-info-messages-title-block{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .add-brigade-list{
            position: relative;
            .add-brigade-list-btn{
                width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: $primaryColor;
                border-radius: 5px;
    
                p{
                    font-size: 14px;
                    color: #fff;
                }
            }

            .add-brigade-list-block{
                width: 100%;
                position: absolute;
                top: 130%;
                left: 0;
                background-color: #fff;
                overflow: hidden;
                border-radius: 5px;
                list-style: none;
                z-index: 100;
                border: 1px solid #ccc;
                display: none;

                li{
                    width: 100%;
                    padding: 10px;
                    border-top: 1px solid #ccc;
                    background: #fff;
                    transition: 0.3s all ease;
                    cursor: pointer;

                    &:hover{
                        background-color: #d2e3ff;
                    }
                }
            }
        }

        


        .work-area-info-messages-title{
            font-weight: 600;
            color: $fontColor;
            font-size: 28px;
        }
    }

    
}


.work-area-info-message-event{
    margin-top: 10px;
    font-size: 12px;
    color: $secondaryCardColor;
}

.work-area-info-messages-area{
    position: relative;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    padding-bottom: 30px;
    padding-right: 15px;
    margin-top: 20px;

    .work-area-info-message{
        width: 100%;
        padding: 25px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        margin-top: 15px;

        .work-area-info-message-header{
            display: flex;
            align-items: center;

            .work-area-info-message-header-icon{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid $primaryColor;

                img{
                    width: 20px;
                }
            }

            .work-area-info-message-header-text{
                margin-left: 20px;

                h4{
                    font-weight: 600;
                    color: $fontColor;
                    font-size: 14px;
                }

                p{
                    font-size: 12px;
                    margin-top: 3px;
                    color: $secondaryCardColor;
                }
            }
        }

        .work-area-info-message-body{
            margin-top: 10px;

            p{
                font-size: 14px;
                color: $fontColor;
            }

            table{
                border-collapse: collapse;
                margin-top: 25px;

                th{
                    padding: 7px 15px;
                    border: 1px solid $messageInfoSubtitle;
                    color: $secondaryCardColor;
                    font-weight: 500;
                }

                td{
                    padding: 7px 15px;
                    border: 1px solid $messageInfoSubtitle;
                    font-weight: 300;
                    color: $fontColor;
                }
            }
        }

        .work-area-info-message-from{
            font-size: 12px;
            font-weight: 300;
            color: $secondaryCardColor;
            margin-top: 15px;
        }
    }
}

.add-text-message{
    margin-top: 50px;

    .add-text-message__input{
        width: 100%;
        position: relative;

        textarea{
            width: 100%;
            height: 80px;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            padding: 15px 49px;
            font-family: 'Poppins', sans-serif;
        }

        img{
            width: 20px;
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }

    .add-text-message-btn{
        margin-top: 15px;
        width: 140px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primaryColor;
        color: #fff;
        font-size: 14px;
        border-radius: 5px;
    }
}


.work-area_card{
    width: calc(100% - 520px);
    left: 520px;
    padding: 40px 30px;
    padding-right: 140px;
}


.work-area__rows{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    margin-top: 20px;
    padding-bottom: 200px;
    padding-right: 25px;
    display: none;
}

.work-area__row{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    padding: 30px 40px;

    .work-area__row-info{
        width: 250px;

        h4{
            font-size: 16px;
            font-weight: 600;
        }
        
        a{
            text-decoration: none;
            color: $primaryCardColor
        }
        
        .card-subtitle{
            font-size: 14px;
            margin-top: 2px;
            color: $secondaryCardColor
        }
        
        .card-agent{
            font-size: 12px;
            color: $secondaryColor;
        }
    }

    .work-area__row-tag-graveyard{
        margin-left: 70px;
        width: 220px;

        .work-area__row-tag{
            background-color: #F0F9FD;
            display: flex;
            height: 28px;
            width: 120px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        
            p{
                font-size: 14px;
                color: #6FBADD;
            }
        }

        .work-area__row-tag_landscaped{
            background-color: #FFF5E9;

            p{
                color: #FF9F2D;
            }
        }
        
        .work-area__row-tag_graveyard{
            display: flex;
            align-items: center;
            margin-top: 10px;

            p{
                font-size: 14px;
                margin-left: 5px;
                color: $secondaryColor;
            }
        }

        .work-area__row-graveyard{
            display: flex;
            align-items: center;
            margin-top: 10px;
        
            p{
                font-size: 14px;
                margin-left: 5px;
                color: $secondaryColor;
            }
        }
    }

    .work-area__row-stage-info{
        margin-left: 70px;
        width: 200px;

        p{
            font-size: 14px;
            color: #6FBADD;
        }
        
    }

    .work-area__row-chat-date{
        margin-left: 70px;

        .work-area__row-chat{
            display: flex;
            align-items: center;

            p{
                margin-left: 7px;
                font-size: 12px;
                color: $secondaryCardColor;
            }
        }

        .work-area__row-date{
            display: flex;
            align-items: center;
            margin-top: 15px;

            p{
                margin-left: 7px;
                font-size: 12px;
                color: $secondaryCardColor;
            }
        }
    }
}

.work-area__row-stage{
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
    margin-top: 4px;
    h4{
        font-weight: 600;
        color: #333;
        font-size: 16px;
    }
}

.work-area__rows_search{
    display: block;
}


.fancy-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
    top: 0;
    left: 0;
    display: none;

    .fancy-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .form-block{
            position: relative;
            width: 550px;
            padding: 40px 40px 55px;
            border-radius: 10px;
            background-color: #fff;
            display: flex;
            flex-direction: column;

            .close-form{
                position: absolute;
                width: 20px;
                right: 15px;
                top: 15px;
                cursor: pointer;
            }

            h4{
                font-size: 24px;
                font-weight: 600;
                color: $fontColor;
            }

            input{
                width: 250px;
                height: 45px;
                border-radius: 4px;
                padding: 0 15px;
                border: 1px solid $secondaryCardColor;
                margin-top: 30px;
            }

            .form-block__btn{
                margin-top: 30px;
                width: 150px;
                height: 45px;
                background-color: $primaryColor;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;

                p{
                    font-size: 14px;
                    color: #fff;
                }
            }

            .form-block-form{
                display: block;
            }

            .await-form{
                display: none;
                flex-direction: column;
                align-items: center;

                p{
                    color: $secondaryCardColor;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}


.auth-block{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-form{
        width: 330px;
        padding: 60px 40px;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #CCCCCC;

        p{
            font-size: 16px;
            text-align: center;
            color: #666;
            margin-top: 30px;
            width: 240px;
        }

        .auth-form__input-block{
            margin-top: 10px;
            width: 100%;

            .auth-form__input{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;
                position: relative;

                label{
                    font-size: 12px;
                    font-weight: 600;
                    color: #0F2744;
                }

                input{
                    width: 100%;
                    height: 40px;
                    padding: 0 15px;
                    color: #333;
                    font-size: 14px;
                    border: 1px solid #C1C7CF;
                    border-radius: 4px;
                    margin-top: 4px;
                }

                img{
                    position: absolute;
                    right: 15px;
                    top: 29px;
                }
            }
        }

        .form-auth__btn{
            width: 100%;
            height: 35px;
            border-radius: 5px;
            border: none;
            color: #fff;
            background: $primaryColor;
            margin-top: 35px;
            cursor: pointer;
        }
    }
}

.form-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    position: relative;

    label{
        font-size: 12px;
        font-weight: 600;
        color: #0F2744;
    }

    input{
        width: 100%;
        height: 40px;
        padding: 0 15px;
        color: #333;
        font-size: 14px;
        border: 1px solid #C1C7CF;
        border-radius: 4px;
        margin-top: 4px;
    }

    img{
        position: absolute;
        right: 15px;
        top: 29px;
    }

    .form-input-list{
        position: absolute;
        top: 110%;
        background-color: #fff;
        border: 1px solid #C1C7CF;
        border-radius: 5px;
        overflow: hidden;
        z-index: 200;
        width: 100%;
        display: none;

        li{
            padding: 6px 15px;
            border-top: 1px solid #C1C7CF;
            font-size: 14px;
            cursor: pointer;
        }
    }

    input[type=checkbox]{
        width: 40px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid #C1C7CF;
        background: #FFF;
        margin-top: 4px;
        box-sizing: border-box;
    }
}


.base {
    border-color: #B1B7C3 !important;
}

.stage-2{
    border-color: #5E83CE !important;
}

.stage-3{
    border-color: #4DCE89 !important;
}

.stage-4{
    border-color: #EBDA45 !important;
}

.stage-5{
    border-color: #172EFA !important;
}

.canceled{
    border-color: #F61919 !important;
}

.success{
    border-color: #09F467 !important;
}



.calendar-area{
    margin-top: 20px;

    .calendar-area__title{
        display: flex;
        align-items: center;

        h4{
            font-size: 24px;
            color: #585757;
        }

        a{
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
    }

    .calendar-area__columns{
        display: flex;
        align-items: flex-start;
        margin-top: 25px;

        .calendar-area__column{
            width: 185px;

            .calendar-area__column-header{
                background: #FFFFFF;
                border: 1px solid #E8E8E8;
                padding: 9px 12px;

                h4{
                    font-size: 16px;
                    color: #969696;
                    font-weight: 500;
                }
            }

            .calendar-area__column-day_empty{
                width: 100%;
                height: 120px;
            }

            .calendar-area__column-day{
                width: 100%;
                height: 120px;
                background-color: #fff;
                padding: 12px;
                border: 1px solid #E8E8E8;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .calendar-area__column-day-date{
                    p{
                        font-size: 20px;
                        color: #969696;
                    }
                }

                .event{
                    margin-top: 4px;
                    padding: 3px;
                    border-radius: 2px;

                    p{
                        font-size: 10px;
                    }
                }

                .event_memorial{
                    background-color: #F0F9FD;

                    p{
                        color: #6FBADD;
                    }
                }

                .event_landscaping{
                    background-color: #FFF5E9;

                    p{
                        color: #FF9F2D;
                    }
                }
            }

            .calendar-area__column-day_link{
                text-decoration: none;
            }
        }
    }
}

.angle-rotated{
    transform: rotate(-90deg);
    width: 10px;
}

.angle-rotated-180{
    transform: rotate(-180deg);
    width: 8px;
}

.angle{
    width: 8px;
}


.angle_left{
    margin-left: 20px;
}

.angle_right{
    margin-right: 20px;
}

.work-area__header-title_switch{
    position: relative;
    cursor: pointer;

    .work-area__header-title_switch-line{
        display: flex;
        align-items: center;
    }
    
    ul{
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;

        li{
            background: #fff;
            font-size: 14px;
            color: #333;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            transition: 0.3s all ease;

            &:hover{
                background: $hoverColor;
            }

            a{
                text-decoration: none;
                color: #333;
            }
        }
    }
}

.refresh-payment{
    cursor: pointer;
    margin-left: 150px;
}

.rotation-animation{
    animation-name: rotation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}


.board-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;

    .board-list-link{
        display: flex;
        text-decoration: none;
        margin-left: 25px;
        margin-top: 30px;

        .board-list-item{
            width: 200px;
            height: 200px;
            background: #fff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;

            .board-list-item-img{
                width: 75px;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100%;
                }
            }

            p{
                font-size: 14px;
                margin-top: 20px;
                color: $fontColor;
            }
        }
    }
}

.work-area__rows-btn{
    height: 55px;
    cursor: pointer;
    background-color: $primaryColor;
    color: #fff;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-area__rows-btn-red{
    background-color: #DE2D21;
}

.work-area__rows-brigades{
    .work-area__rows-brigades-line{
        display: flex;
        align-items: center;
        margin-top: 20px;

        .work-area__rows-brigades-line-name{
            width: 400px;
            height: 55px;
            border: 1px solid #ccc;
            padding: 0 50px;
            font-size: 18px;
            color: $fontColor;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 10px;
        }

        .work-area__rows-btn{
            margin-left: 30px;
        }
    }
}

.work-area__rows-btn-add-brigade{
    width: 250px;
    margin-top: 40px;
}

.brigade-fancy-edit{
    display: none;
}

.brigade-fancy-add{
    display: none;
}

.brigade-fancy{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: 0.3);

    .brigade-fancy-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;

        .brigade-fancy-window{
            width: 520px;
            background: #fff;
            position: relative;
            padding: 45px;
            border-radius: 10px;

            .close-fancy{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }

            h4{
                color: $fontColor;
                font-size: 20px;
                font-weight: 700;
            }

            .work-area__rows-btn-window{
                margin-top: 20px;
                height: 45px;
            }
        }
    }
}

.work-area__rows-nomenklature-block-wrapper-title{
    display: flex;
    align-items: center;

    p{
        font-size: 18px;
        color: $fontColor;
        font-weight: 700;
    }

    .work-area__rows-nomenklature-title{
        width: 430px;
    }

    .work-area__rows-nomenklature-category{
        margin-left: 30px;
        width: 240px;
    }

    .work-area__rows-nomenklature-price{
        margin-left: 30px;
        width: 170px;
    }
}

.work-area__rows-nomenklature-block-line{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;

    .work-area__rows-btn{
        height: 45px;
        margin-left: 30px;
    }

    .work-area__rows-nomenklature-block-line-text{
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px 30px;
        border-radius: 10px;
        color: $fontColor;
    }

    .work-area__rows-nomenklature-block-line-name{
        width: 430px;
    }

    .work-area__rows-nomenklature-block-line-category{
        width: 240px;
        margin-left: 30px;
    }

    .work-area__rows-nomenklature-block-line-price{
        width: 170px;
        margin-left: 30px;
    }
}

.work-area__rows-btn-add-products{
    width: 250px;
    margin-top: 30px;
}

.work-area__rows-products-line{
    display: flex;
    align-items: flex-end;

    .form-input{
        width: 350px;
    }

    .form-input+.form-input{
        margin-left: 40px;
    }

    .work-area__rows-products-line-add{
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        cursor: pointer;
        background-color: $primaryColor;
        border-radius: 5px;
    }
}



.work-area__rows-btn-save{
    margin-top: 30px;
    height: 50px;
    width: 250px;
}

.products-periods-filter{
    display: flex;
    align-items: flex-end;
    position: relative;

    .form-input{
        width: 200px;
    }

    .form-input+.form-input{
        margin-left: 40px;
    }

    .products-periods-filter-btn{
        display: flex;
        margin-left: 40px;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 43px;
        border-radius: 5px;
        border: 1px solid #CCC;
        background: #FFF;
        cursor: pointer;

        p{
            font-size: 14px;
            color: $primaryColor;
            margin-left: 15px;
        }
    }

    .products-periods-filter-block{
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        background-color: #fff;
        width: 620px;
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #ccc;

        .close-filter{
            cursor: pointer;
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .form-input+.form-input{
            margin-left: 0px;
            margin-top: 10px;
        }

        .work-area__rows-btn_acept-filter{
            margin-top: 30px;
            width: 150px;
            height: 45px;
        }
    }
}

.position-list-wrapper-line{
    display: flex;
    align-items: center;

    .form-input{
        width: 250px;
    }

    .form-input_sm{
        width: 150px;
    }

    .form-input_checkbox{
        width: 80px;
    }

    .form-input+.form-input{
        margin-left: 30px;
    }

    .work-area__rows-btn-red{
        margin-left: 50px;
        height: 35px;
        margin-top: 25px;
    }
}

.work-area__rows-btn-add-payment-position{
    width: 200px;
    margin-top: 20px;
    height: 40px;
}

.total-block{
    margin-top: 40px;

    .total-block-btns{
        display: flex;
        margin-top: 20px;


        .work-area__rows-btn{
            width: 140px;
            height: 40px;
        }
    }
}

.filter-btn-line{
    display: flex;
    align-items: center;


    .filter-btn__reset{
        margin-left: 40px;
        border: 1px solid $primaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 45px;
        border-radius: 10px;
        margin-top: 30px;
        cursor: pointer;

        p{
            font-size: 14px;
            color: $primaryColor;
        }
    }
}