$fontColor: #333;
$bodyColor: #F9F9F9;
$primaryColor: #5B8EDF;
$primaryCardColor: #417991;
$secondaryCardColor: #919191;
$secondaryColor: #B1B7C3;
$hoverColor: #F4F9FF;
$backgroundInfo: #F5F4F4;
$messageInfoTitle: #666666;
$messageInfoSubtitle: #9C9A9A;