    <!--add new order-->
    <div class="fancy-box">
        <div class="fancy-wrapper">
            <div class="form-block">
                <div class="form-block-form">
                    <img src="/assets/img/close.svg" alt="" class="close-form">
                    <h4>Номер заказа из мой склад:</h4>
                    <input type="text" placeholder="Номер заказа: 00336" id="deal-num">
                    <div class="form-block__btn">
                        <p>Создать заказ</p>
                    </div>
                </div>
                <div class="await-form">
                    <img src="/assets/img/await.gif" alt="">
                    <p class="await-text">Идет добавление заказа,<br> пожалуйста подождите</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/common.js?ver=123"></script>

    <script>
        Fancybox.bind("[data-fancybox]", {
            // Your custom options
        });
    </script>
</body>
</html>