<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/js/jqueryLib/jquery-ui.css">
    <script src="/assets/js/jqueryLib/jquery-3.7.0.js"></script>
    <script src="/assets/js/jqueryLib/jquery-ui.js"></script>
    <link rel="stylesheet" href="/assets/js/air-datepicker/air-datepicker.css">
    <script src="/assets/js/air-datepicker/air-datepicker.js"></script>
    <link rel="stylesheet" href="/assets/js/fancy-box/fancybox.css">
    <script src="/assets/js/fancy-box/fancybox.umd.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css?ver=4213">

    <title>Небеса | {{ title }}</title>
</head>
<body>