{% extends 'base-extended.twig' %}

{% block body %}
    <div class="work-area__rows work-area__rows_search">
        <div class="work-area__rows-products-wrapper">
            <div class="work-area__rows-products-line">
                <div class="form-input">
                    <label for="">Название наименования</label>
                    <input type="text" placeholder="Название" id="payment-product-name" value="{{ product_info.name }}" data-id="{{ product_info.id }}">
                </div>

                <div class="form-input form-input-select">
                    <label for="">Категория</label>
                    <input type="text" placeholder="Категория" id="payment-product-cat" readonly value="{{ product_info.category_name }}">

                    <ul class="form-input-list">
                        <li>Монтаж</li>
                        <li>Демонтаж</li>
                    </ul>
                </div>

                <div class="form-input">
                    <label for="">Цена</label>
                    <input type="text" placeholder="Цена" id="payment-product-price" value="{{ product_info.price }}">
                </div>
            </div>
        </div>

        <div class="work-area__rows-btn work-area__rows-btn-save" id="payment-product-edit">
            <p>Редактировать</p>
        </div>
    </div>
{% endblock %}