{% extends 'base-extended.twig' %}

{% block body %}
    <div class="work-area__rows work-area__rows_search">
        <div class="work-area__rows-products-wrapper">
            <div class="work-area__rows-products-line">
                <div class="form-input">
                    <label for="">Название наименования</label>
                    <input type="text" placeholder="Название" class="payment-product-name">
                </div>

                <div class="form-input form-input-select">
                    <label for="">Категория</label>
                    <input type="text" placeholder="Категория" class="payment-product-cat" readonly>

                    <ul class="form-input-list">
                        <li>Монтаж</li>
                        <li>Демонтаж</li>
                    </ul>
                </div>

                <div class="form-input">
                    <label for="">Цена</label>
                    <input type="text" placeholder="Цена" class="payment-product-price">
                </div>

                <div class="work-area__rows-products-line-add">
                    <img src="/assets/img/plus-btn.svg" alt="">
                </div>
            </div>
        </div>

        <div class="work-area__rows-btn work-area__rows-btn-save" id="create-products">
            <p>Сохранить</p>
        </div>
    </div>
{% endblock %}