{% extends 'base-extended.twig' %}

{% block body %}
    <div class="work-area__rows work-area__rows_search">
        <div class="work-area__rows-nomenklature-block">
            <div class="work-area__rows-nomenklature-block-wrapper-title">
                <p class="work-area__rows-nomenklature-title">Наименование</p>
                <p class="work-area__rows-nomenklature-category">Категория</p>
                <p class="work-area__rows-nomenklature-price">Цена</p>
            </div>

            <div class="work-area__rows-nomenklature-block-wrapper">
                <div class="work-area__rows-nomenklature-block-line">
                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-name">
                        <p>Цоколь железобетонный ленточный h 15см</p>
                    </div>

                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-category">
                        <p>Монтаж</p>
                    </div>

                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-price">
                        <p>2500 Руб</p>
                    </div>

                    <a href="/edit-payment-products/1">
                        <div class="work-area__rows-btn">
                            <p>Редактировать</p>
                        </div>
                    </a>
    
                    <div class="work-area__rows-btn work-area__rows-btn-red">
                        <p>Удалить</p>
                    </div>
                </div>

                <div class="work-area__rows-nomenklature-block-line">
                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-name">
                        <p>Цоколь железобетонный ленточный h 15см</p>
                    </div>

                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-category">
                        <p>Монтаж</p>
                    </div>

                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-price">
                        <p>2500 Руб</p>
                    </div>

                    <a href="/edit-payment-products/1">
                        <div class="work-area__rows-btn">
                            <p>Редактировать</p>
                        </div>
                    </a>
    
                    <div class="work-area__rows-btn work-area__rows-btn-red">
                        <p>Удалить</p>
                    </div>
                </div>

                <div class="work-area__rows-nomenklature-block-line">
                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-name">
                        <p>Цоколь железобетонный ленточный h 15см</p>
                    </div>

                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-category">
                        <p>Монтаж</p>
                    </div>

                    <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-price">
                        <p>2500 Руб</p>
                    </div>

                    <a href="/edit-payment-products/1">
                        <div class="work-area__rows-btn">
                            <p>Редактировать</p>
                        </div>
                    </a>

                    <div class="work-area__rows-btn work-area__rows-btn-red">
                        <p>Удалить</p>
                    </div>
                </div>

                <a href="/add-payment-products" class="add-products-link">
                    <div class="work-area__rows-btn work-area__rows-btn-add-products">
                        <p>Добавить наименование</p>
                    </div>
                </a>
                
            </div>
        </div>


    </div>
{% endblock %}