{% extends 'base-tasks.twig' %}

{% block body %}
<!--Canban-->
<div class="work-area__columns">
    <div class="container">
        <div class="container__header base">
            <h2>Новая задача</h2>
        </div>
        <div class="add-new-order" id="add-task-header" data-fancybox data-src="#task-form">
            <img src="assets/img/plus.svg" alt="">
            <p>Новая задача</p>
        </div>

        <ul class="sortable_tasks connectedSortable">

        </ul>
    </div>

    <div class="container">
        <div class="container__header stage-2">
            <h2>Задача выполняется</h2>
        </div>

        <ul class="sortable_tasks connectedSortable">
            <li class="task-item">
                <div class="card-header">
                    <a href="/tasks/task/1"><h4 class="card-title">Починить синхрофазатрон</h4></a>
                    <p class="card-subtitle">Иванов Иван Иванович</p>
                    <p class="card-agent">Контролер: Спасенов Александр </p>
                </div>
                <div class="card-footer">
                    <div class="card-footer-demiter"></div>
                    <div class="card-footer__bottom">
                        <div class="card-footer__bottom-unit">
                            <img src="assets/img/chat-card.svg" alt="">
                            <p>2</p>
                        </div>
                        <div class="card-footer__bottom-unit">
                            <img src="assets/img/calendar-card.svg" alt="">
                            <p>24.04.2023</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="container__header stage-3">
            <h2>Сдана на проверку</h2>
        </div>

        <ul class="sortable_tasks connectedSortable">

        </ul>
    </div>

</div>

    <form action="" class="add-tasks" id="task-form">
        <h2>Создать новую задачу</h2>
        <div class="controls">
            <div class="input-block">
                <label for="executor">Выберете исполнителя</label>
                <select name="executor" id="executor">
                    <option value="1">Иван Иванов</option>
                    <option value="2">Петр Петров</option>
                    <option value="3">Алексей Алексеев</option>
                </select>
            </div>

            <div class="input-block">
                <label for="date_end">Дата выполнения</label>
                <input type="text" id="date_end" name="date_end" placeholder="Дата выполнения">
            </div>

            <div class="input-block">
                <label for="task-name">Название задачи</label>
                <input type="text" id="task-name" name="task-name" placeholder="Название задачи">
            </div>
            
            <div class="input-block">
                <label for="task-text">Текст задачи</label>
                <textarea name="task-text" id="task-text" placeholder="Текст задачи"></textarea>
            </div>
        </div>

        <input type="submit" class="create-task__btn" value="Создать задачу">
    </form>

    <script>
        new AirDatepicker('#date_end', {
            autoClose: true,
        });
    </script>
{% endblock %}